body {
    font-family: sans-serif;
    background-color: #f4f8fb; 
    color: #111111;
    display: flex;
    justify-content: center;
    padding: 40px;
}

p {
    line-height: 1;
    margin-bottom: 0px;
}

.tabela-layout p{
    font-family: monospace;
    margin-top: 1.0px;
    margin-bottom: 0;
    font-size: 14px;
}


.box {
    width: 140px;
    height: 140px;
    background-color: #fff;
    border: 2px solid #222;
    border-radius: 10px;
    margin: 0 auto;
    background-image: url('download.png'); 
    background-size: 40px;
    background-repeat: no-repeat;
}